# regex non-capturing group: (?:)?

name=standard
example=2018/10/31 09:30:04.223 [info]: testapp started
#example=2018-10-31T09:30:04;223 [info]: testapp started
pattern_src=^([12]\d{3}).([0-1]\d).([0-3]\d).([0-5][0-9]):([0-5][0-9]):([0-5][0-9])
yyyymmdd_src=sub { return sprintf("%s%s%s", $1, $2, $3); }
HHMMSS_src=sub { return sprintf("%s%s%s", $4, $5, $6); }

name=unknown
example=Tue Mar 23 00:30:04 EDT 2021: process started
pattern_src=^(Mon|Tue|Wed|Thu|Fri|Sat|Sun) (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) ([ 0-3][0-9]) ([0-5][0-9]):([0-5][0-9]):([0-5][0-9]) ([A-Z][A-Z][A-Z]) ([12][0-9][0-9][0-9])
yyyymmdd_src=$6$mm_by_Mmm{$2}$3
yyyymmdd_src=sub { return sprintf("%s%s%s", $8, $TPSUP::LOG::mm_by_Mon{$2}, $3); }
HHMMSS_src=sub { return sprintf("%s%s%s", $4, $5, $6); }

name=syslog
example=Sep 18 09:26:35 testapp [9571]: testapp entered state=DONE
pattern_src=^(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) ([ 0-3][0-9]) ([0-5][0-9]):([0-5][0-9]):([0-5][0-9])
yyyymmdd_src=sub { return sprintf("%s%s%s", $TPSUP::LOG::yyyy, $TPSUP::LOG::mm_by_Mon{$1}, $2); }
HHMMSS_src=sub { return sprintf("%s%s%s", $3, $4, $5); }

