#!/usr/bin/env perl

use strict;
use warnings;
#use TPSUP::SWAGGER qw();
use Carp;

# don't add 'my' in front of below because the variable is declared in the caller.
our $our_cfg = {
   # position_args => [ 'base', 'op' ],
   minimal_args => 2,

   extra_args => {
      'nojson'  => 'nojson',     # -nojson
   },

   pre_checks => [
      # you need this in corporate network
      #{ 
      #   check      => 'exists($ENV{HTTPS_CA_DIR})',
      #   suggestion => 'run: export HTTPS_CA_DIR=/etc/ssl/certs',
      #},
   ],

   package => 'TPSUP::SWAGGER',
   # runs TPSUP::SWAGGER::tpbatch_code() by default

   # usage_example => "",   # usage_example's default is in package

   # sub_url vs sub_ui
   #    sub_url is to be used by curl command
   #    sub_ui  is user interface where use manually click swagger menu on web portal.
   # sub_ui is default to share the first part of sub_url, example
   #    sub_url: app1/api/run_myop1_1 
   #    sub_ui : app1/swagger-ui
   # we use default sub_ui below

   cfg => {
      mybase1 =>{
         base_urls => ['https://myhost1.abc.com:9100'],
         entry     => 'swagger-tian',
         op        => {
            myop1_1 => {
               num_args  => 1,
               sub_url   => 'app1/api/run_myop1_1',
               json      => 1,
               method    => 'POST',
               post_data => '{{A0}}',
               # json requires double string for its strings. therefore, we use single
               # quote below.
               validator => qq('{{A0}}' =~ /hello/), 
               comment   => 'run myop1_1',
               test_str  => [ "abc",  qq('{"hello world"}') ],  # two tests here
            },
            myop1_2 => {
               sub_url   => 'app1/api/run_myop1_2',
               json      => 1,
               method    => 'POST',
               post_data => qq('["hard coded"]'),
               comment   => 'run myop1',
            },
            myop1_3 => {
               num_args  => 1,
               sub_url   => 'app1/api/run_myop1_3',
               validator => 'swagger_test_validator("{{A0}}")',
               comment   => 'run myop1',
               test_str  => ['hello', 'world'],
            },
         },
      },

      mybase2 => {
         base_urls => ['https://myhost1.abc.com:9102', 'https://myhost2.abc.com:9102'],
         entry     => 'swagger-tian',
         op        => {
            myop2_1 => {
               num_args => 2,
               sub_url  => 'app2/api/run_myop2/{{A0}}/{{A1}}',
               json     => 1,
               comment  => 'run myop2_1',
               test_str  => ['my_arg0 my_arg1', 'your_arg0 your_arg1'],
            },
         },
      },
   },
};

# prefix "TPSUP::SWAGGER" when defining sub here because sub default to "TPSUP::BATCH".
#   - this script is parsed by TPSUP::BATCH, so by default the subs go to TPSUP::BATCH.
#   - but the subs will be called TPSUP::SWAGGER, therefore, needs to be seen by it.
sub TPSUP::SWAGGER::swagger_test_validator {
   my ($a, $opt) = @_;

   if ($a =~ /hello/) {
      print "validating $a: matched hello\n";
      return 1;
   } else {
      print "validating $a: not matched hello\n";
      return 0;
   }
}
